
h2{
    color:rgb(136, 136, 136);

}

.RestItem{
    display: flex;
    justify-content: center; /* Center horizontally */
}

.bgImage{
    width: 40%;
}

.RestName{
    position: absolute;
    margin-top: 1%; 
    left:35%;
    /* text-align: center; */
    color:rgb(76, 76, 76);
}

.RestBoro{
    position: absolute;
    margin-top: 5%;
    left:35%;
    /* text-align: center; */
    color:rgb(76, 76, 76);

}



.RestCuis{
    position: absolute;
    margin-top: 5%;
    left:45%;
    /* text-align: center; */
    color:rgb(76, 76, 76);

}

.RestScore{
    position: absolute;
    margin-top: 5%;
    left:60%;
    color:rgb(76, 76, 76);

    /* text-align: center; */
}